@(webJarAssets: WebJarAssets)

@main("Play Angular App")(webJarAssets) {

<div ng-controller="airportsCtrl">

    <div>
        <div class="row emp-header">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a id="back" ng-href="/{{''}}">Home</a> <br />
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a id="query" ng-href="/{{'airport/query/queries'}}">Queries</a> <br />
            </div>

        </div>
    </div>
    <hr>

    @views.html.airports.countriesQuery()

</div>
}

