@(webJarAssets: WebJarAssets)

@main("Play Angular App")(webJarAssets) {

<div ng-controller="airportsCtrl">

    <div>
        <div class="row emp-header">
            <!-- Employee search  -->
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a id="queries" ng-href="/{{'airport/query/queries'}}">Query</a> <br />
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a id="runways" ng-href="/{{'airport/query/queries/runways'}}">Runways Query</a> <br />
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a id="countries" ng-href="/{{'airport/query/queries/countries'}}">Countries Query</a> <br />
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                <a id="search" ng-href="/{{'airport/query/search'}}">Search</a> <br />
            </div>

            <!-- Alert messages -->


        </div>
    </div>
    <hr>


</div>
}

